h1{
	font-family: sans-serif;
	text-align: center;

}
img{
	width: 120px;
}
h3{
	font-family: sans-serif;
	text-align: center;
}
header{
	background-color: white;
	color: black;
}
body{
	background-color: blue;
	color: white;
}
footer{
	background-color: red;
}